:root {
  --font-poppins: "Poppins", sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

.skill-icon {
  display: inline-block;
  overflow: hidden;
}

.skill-icon svg {
  filter: grayscale(100%); /* Black and white by default */
  transition: filter 0.3s ease; /* Smooth transition */
}

.skill-icon:hover svg {
  filter: grayscale(0%); /* Full color on hover */
}
